<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema.DAL.Properties.Settings.db_SistemaConnectionString"
            connectionString="Data Source=ADM-PC\LUCAS;Initial Catalog=db_Sistema;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>